{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h2>Add Food Item</h2>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
        Add Food
    </button>

</form>

<h2>Food Items</h2>

<p>Total Calories: {{ total_calories }}</p>

{% if food_items %}

<ul>

    {% for food in food_items %}

        <li>

            {{ food.name }}
            -
            {{ food.calories }} Calories

        </li>

    {% endfor %}

</ul>

{% else %}

<p>No food items found.</p>

{% endif %}

{% endblock %}